<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="" />
  <meta name="title" content="" />
  <meta name="description" content="" />
<title>rgbstore - shopping cart</title>

<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/inner.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
    <script type="text/javascript" src="js/unitpngfix.js"></script>
	<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->

<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/slider.js"></script>
<script type="text/javascript" src="js/jquery.scrollable.js"></script>
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
<script type="text/javascript" >
	$(function() {
		$("#scrollable").scrollable({horizontal:true,size: 4});
	});
</script>
</head>
<body>
<div id="container">
	<div id="centercolumn">
	
	<!-- BEGIN HEADER -->
		<div id="header">
			<div id="topmenu">
				<div id="menu">
					<ul>
						<li id="home"><a href="index.html">Home</a></li>
						<li><a href="product_description.html">Products</a></li>
						<li><a href="#">My Account</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="shopping_cart.html">Checkout</a></li>
					</ul>
				</div><!-- end menu -->
				<div id="cart">
				<a href="shopping_cart.html"><img src="images/cart.png" alt="" class="imgleft" /></a>Now in your cart <strong>0 Item</strong>
				</div><!-- end cart -->
			</div><!-- end topmenu -->
			<div id="top">
				<div id="logo">
				  <a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div><!-- end logo -->
				<div id="topsearch">
				<form action="#" method="post">
				<fieldset>
				<span class="bg_input"><input type="text" class="inputbox" value="search something?"  onblur="if(this.value=='') this.value='search something?';" onfocus="if(this.value=='search something?') this.value='';" /></span><input type="image" src="images/but_search.gif" class="but" />
				</fieldset>
				</form>
				</div><!-- end topsearch -->
			</div><!-- end top -->
		</div>
	<!-- END OF HEADER -->
	
	<div class="clr"></div><!-- clear float -->
	
	<!-- BEGIN CONTENT -->
		<div id="content">
			<div id="c_top">
				<div id="c_bottom">
				<!-- begin slider -->
					<div id="slide">
						<div id="scrollable"> 
							<a class="prev"></a>
							<a class="next"></a>   
							<div class="items"> 
								<div class="slide-items">
									<h4>Camcorder #023</h4>
									<img src="images/slide1.jpg" alt="" />
								</div>
								<div class="slide-items">
									<h4>Printer #013</h4>
									<img src="images/slide2.jpg" alt="" />
								</div>
								<div class="slide-items">
									<h4>Monitor #018</h4>
									<img src="images/slide3.jpg" alt="" />
								</div>
								<div class="slide-items noborder">
									<h4>Digital Camera #09</h4>
									<img src="images/slide4.jpg" alt="" />
								</div>
								<div style="clear: both;"></div>
							</div> 
						</div><!--end scrollable-->
					</div>
				<!-- end slider -->
				
					<br style="clear:both;"  />
					<div id="maincontent">
						<div id="main">
							<div id="mainleft">
								<div class="c_inner">
									<div class="c_inner_t">
										<div class="c_inner_b">
								<div class="pad_content_inner">
								
									<div id="breadcrumb"><a href="#">Home</a>  &gt;  <a href="#">Shopping Cart</a></div><!-- end breadcrumb -->
									<br />
									<h3>Shopping Cart</h3>
									<div class="headings">
										<ul>
											<li class="priview">Cart Items</li>
											<li class="quantity">Qty</li>
											<li class="priceHead">Price</li>
											<li class="total">Total</li>
											<li class="remove">Remove</li>
										</ul>
									</div><!-- end headings -->
									<div class="proList">
										<ul>
											<li class="priview">Product #013</li>
											<li class="quantity"><input name="qty" type="text" value="1" size="1" /></li>
											<li class="priceHead">$230.00</li>
											<li class="total">$230.00</li>
											<li class="remove"><a href="#"><img src="images/delete.png" alt="" class="icon" /></a>&nbsp;<a href="#">Remove</a></li>
										</ul>
										<div class="clr"></div>
									</div><!-- end proList -->
									<div class="proList">
										<ul>
											<li class="priview">Product #018</li>
											<li class="quantity"><input name="qty" type="text" value="1" size="1" /></li>
											<li class="priceHead">$230.00</li>
											<li class="total">$230.00</li>
											<li class="remove"><a href="#"><img src="images/delete.png" alt="" class="icon" /></a>&nbsp;<a href="#">Remove</a></li>
										</ul>
										<div class="clr"></div>
									</div><!-- end proList -->
									<div class="proList">
										<ul>
											<li class="priview">Product #09</li>
											<li class="quantity"><input name="qty" type="text" value="1" size="1" /></li>
											<li class="priceHead">$230.00</li>
											<li class="total">$230.00</li>
											<li class="remove"><a href="#"><img src="images/delete.png" alt="" class="icon" /></a>&nbsp;<a href="#">Remove</a></li>
										</ul>
										<div class="clr"></div>
									</div><!-- end proList -->
									<div class="proList">
										<ul>
											<li class="priview">Product #023</li>
											<li class="quantity"><input name="qty" type="text" value="1" size="1" /></li>
											<li class="priceHead">$230.00</li>
											<li class="total">$230.00</li>
											<li class="remove"><a href="#"><img src="images/delete.png" alt="" class="icon" /></a>&nbsp;<a href="#">Remove</a></li>
										</ul>
										<div class="clr"></div>
									</div><!-- end proList -->
									<div class="subtotal">
										<ul>
											<li>SubTotal : <span class="price2">$3200.00</span></li>
										</ul>
										<div class="clr"></div>
									</div><!-- end subtotal -->
									<div class="checkout">
										<ul>
											<li><input type="image" src="images/but_checkout.gif" /></li>
										</ul>
										<div class="clr"></div>
									</div><!-- end checkout -->
									
								</div><!-- end pad_content_inner -->
										</div>
									</div>
								</div>
							</div><!-- end mainleft -->
							
							<div id="side">
								<div class="sidebox">
									<div class="sidebox_t">
									<div class="sidebox_b">
										<h2>Categories</h2>
										<div class="padbox_side">
											<ul>
												<li><a href="category.html">USB</a></li>
												<li><a href="category.html">Keyboard</a></li>
												<li><a href="category.html">Memory</a></li>
												<li><a href="category.html">Mice</a></li>
												<li><a href="category.html">Laptops</a></li>
												<li><a href="category.html">Video Cards</a></li>
												<li><a href="category.html">Major Brands</a></li>
												<li><a href="category.html">Networking</a></li>
												<li><a href="category.html">Popular Models</a></li>
												<li><a href="category.html">Desktops</a></li>
												<li><a href="category.html">VGA</a></li>
												<li><a href="category.html">Monitor</a></li>
												<li><a href="category.html">Mouse</a></li>
											</ul>
										</div>
									</div>
									</div>
								</div><!-- end sidebox -->
							</div><!-- end side -->
							
							<div class="clr"></div><!-- clear float -->
						</div><!-- end main -->
					
					</div><!-- end maincontent -->
				</div><!-- end c_bottom -->
			</div><!-- end c_top -->
		</div>
	<!-- END OF CONTENT -->
	
	
	<!-- BEGIN FOOTER -->
		<div id="footer">
			<div id="footleft">Copyright &copy;2009 rgbstore. All Rights Reserved&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Privacy Policy</a></div>
			<div id="footlright"><img src="images/credit_card.gif" alt="" /></div>
		</div>
	<!-- END OF FOOTER -->
		
	</div><!-- end of centercolumn -->
</div><!-- end of container -->


</body>
</html>
