<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="" />
  <meta name="title" content="" />
  <meta name="description" content="" />
<title>{% block title %}{% endblock title %}</title>

<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link href="/static/css/style.css" rel="stylesheet" type="text/css" />
<link href="/static/css/inner.css" rel="stylesheet" type="text/css" />
<link href="/static/css/geral.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
    <script type="text/javascript" src="/static/js/unitpngfix.js"></script>
	<link href="/static/css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->

<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script type="text/javascript" src="/static/js/slider.js"></script>
<script type="text/javascript" src="/static/js/jquery.scrollable.js"></script>
<script type="text/javascript" src="/static/js/jquery.mousewheel.js"></script>
<script type="text/javascript" >
	$(function() {
		$("#scrollable").scrollable({horizontal:true,size: 4});
	});
</script>
{% block extrahead %}
{% endblock extrahead %}
</head>
<body>
<div id="container">
	<div id="centercolumn">
	
	<!-- BEGIN HEADER -->
		<div id="header">
			<div id="topmenu">
				<div id="menu">
					<ul>
						<li><a href="/vitrini/">Vitrini</a></li>
						<li><a href="/minha_conta/">Minha Conta</a></li>
						<li><a href="/institucional/">Institucional</a></li>
						<li><a href="/contato/">Contato</a></li>
					</ul>
				</div><!-- end menu -->
                                
                                {% if usuario_logado%}
                                    <div id="cart">
					<a href="/carrinho/"><img src="/static/images/cart.png" alt="carrinho" class="imgleft" /></a>Em seu carrinho: <strong>0 Produtos(s)</strong>
				    </div><!-- end cart -->
                                {% endif%}
                            
			</div><!-- end topmenu -->
                        
			<div id="top">
				<div id="logo">
				  <a href="index.html"><img src="/static/images/logo.png" alt="" /></a>
				</div><!-- end logo -->
				<div id="topsearch">
				<form action="#" method="post">
				<fieldset>
				<span class="bg_input"><input type="text" class="inputbox" value="Procure aqui o seu produto."  onblur="if(this.value=='') this.value='search something?';" onfocus="if(this.value=='search something?') this.value='';" /></span><input type="image" src="/static/images/but_search.gif" class="but" />
				</fieldset>
				</form>
				</div><!-- end topsearch -->
			</div><!-- end top -->
		</div>
	<!-- END OF HEADER -->
	
	<div class="clr"></div><!-- clear float -->
	
	<!-- BEGIN CONTENT -->
		<div id="content">
			<div id="c_top">
				<div id="c_bottom">
				
				<!-- begin slider -->
					<div id="slide">
						<div id="scrollable"> 
							<a class="prev"></a>
							<a class="next"></a>   
							<div class="items">
                                                            {% for produto in lista_produtos_banner %}
								<div class="slide-items">
									<h4>{{produto.nome}}</h4>
									<a href="/detalhes_produto/{{produto.id}}/"><img src="/static/fotos/{{produto.foto1}}" alt="{{produto.foto1.url}}" /></a>
								</div>
                                                                {% endfor %}
								<div style="clear: both;"></div>
							</div> 
						</div><!--end scrollable-->
					</div>
				<!-- end slider -->
				
					<br style="clear:both;"  />
					
					<div id="maincontent">
					
						<div id="main">
							<div id="mainleft">
                                                                    {% block content %}
                                                                    {% endblock content %}
                                                        </div><!-- end mainleft -->
							
							<div id="side">
							    <div class="sidebox">
								<div class="sidebox_t">
								    <div class="sidebox_b">
									<h2>Categorias</h2>
									<div class="padbox_side">
									    {% for categoria in lista_categorias %}
										<ul>
										    <li><a href="/lista_produtos_categoria/{{categoria.id}}">{{categoria.categoria}}</a></li>
										</ul>
									    {% endfor %}
									</div>
								    </div>
								</div>
							    </div><!-- end sidebox -->
							    <div class="sidebox">
								<div class="sidebox_t">
								    <div class="sidebox_b">
									<h2>Marcas</h2>
									<div class="padbox_side">
									    {% for marca in lista_marcas %}
										<ul>
										    <li><a href="/lista_produtos_marca/{{marca.id}}">{{marca.marca}}</a></li>
										</ul>
									    {% endfor %}
									</div>
								    </div>
								</div>
							    </div><!-- end sidebox -->
							</div><!-- end side -->							
							<div class="clr"></div><!-- clear float -->
						</div><!-- end main -->
					
					</div><!-- end maincontent -->
				</div><!-- end c_bottom -->
			</div><!-- end c_top -->
		</div>
	<!-- END OF CONTENT -->
	
	
	<!-- BEGIN FOOTER -->
		<div id="footer">
			<div id="footleft">Desenvolvido por TonKI.</div>
			<div id="footlright"><img src="/static/images/credit_card.gif" alt="" /></div>
                </div>
	<!-- END OF FOOTER -->
		
	</div><!-- end of centercolumn -->
</div><!-- end of container -->


</body>
</html>
