{% extends "base.html" %}

{% block title %}
Carrinho
{% endblock title %}

{% block extrahead %}

{% endblock extrahead %}

{% block content %}
    <div class="c_inner">
                <div class="c_inner_t">
                        <div class="c_inner_b">
        <div class="pad_content_inner">
        
                <div id="breadcrumb"><a href="#">Home</a>  &gt;  <a href="#">Shopping Cart</a></div><!-- end breadcrumb -->
                <br />
                <h3>Carrinho</h3>
                <div class="headings">
                        <ul>
                                <li class="priview">Produto</li>
                                <li class="quantity">Qtd</li>
                                <li class="priceHead">Preço</li>
                                <li class="total">Total</li>
                                <li class="remove">Remover</li>
                        </ul>
                </div><!-- end headings -->
                <div class="proList">
                        <ul>
                                <li class="priview">Product #013</li>
                                <li class="quantity"><input name="qty" type="text" value="1" size="1" /></li>
                                <li class="priceHead">$230.00</li>
                                <li class="total">$230.00</li>
                                <li class="remove"><a href="#"><img src="images/delete.png" alt="" class="icon" /></a>&nbsp;<a href="#">Remove</a></li>
                        </ul>
                        <div class="clr"></div>
                </div><!-- end proList -->
                <div class="proList">
                        <ul>
                                <li class="priview">Product #013</li>
                                <li class="quantity"><input name="qty" type="text" value="1" size="1" /></li>
                                <li class="priceHead">$230.00</li>
                                <li class="total">$230.00</li>
                                <li class="remove"><a href="#"><img src="images/delete.png" alt="" class="icon" /></a>&nbsp;<a href="#">Remove</a></li>
                        </ul>
                        <div class="clr"></div>
                </div><!-- end proList -->
                
                <div class="subtotal">
                        <ul>
                                <li>SubTotal : <span class="price2">$3200.00</span></li>
                        </ul>
                        <div class="clr"></div>
                </div><!-- end subtotal -->
                <div class="checkout">
                        <ul>
                                <li><input type="image" src="/static/images/but_checkout.gif" /></li>
                        </ul>
                        <div class="clr"></div>
                </div><!-- end checkout -->
                
        </div><!-- end pad_content_inner -->
                        </div>
                </div>
        </div>
{% endblock content %}