{% extends "base.html" %}

{% block title %}
Editar Endereço
{% endblock title %}

{% block extrahead %}

{% endblock extrahead %}

{% block content %}
    
    <h2>Editar Endereço</h2>
	<form action="/edita_endereco_cliente/{{endereco.id}}/" method="POST">
	    <table class="simple_table">
	    {% for field in endereco_form %}
		    <tr>
			<th>
			    {{ field.label_tag }} :
			</th>
			<td>
			    {{ field }}
			</td>
		    </tr>
		    {% if field.errors %}
		    <tr>
			<th>{{ field.errors }}</th>
		    </tr>
		    {% endif %}
	    {% endfor %}
		<tr>
		    <td><input class="botao" type="submit" value="Salvar" /></td>
		</tr>
	    </table>
	</form>
    <br>
    <a href="/minha_conta/">Voltar</a>

{% endblock content %}