{% extends "base.html" %}

{% block title %}
Minha Conta
{% endblock title %}

{% block extrahead %}

{% endblock extrahead %}

{% block content %}
    
    {% if usuario_logado%}
        <h2>Minha Conta</h2>
        <p>Ola {{cliente.nome}}</p>
	<a href="/logout/">Logout</a>
    
    {% else %}
	
	{% if erro %}
	    <p>Preencha o formulário corretamente.</p>
	{% endif %}
	{% if cadastrou %}
	    <p>Seu cadastro foi efetuado com sucesso.</p>
	{% endif %}
	
	<strong>Já é usuário do sistema? Então entre aqui!</strong>
	<form action="/login/" method="POST">
	    <label for="user">Usuário:</label>
		{{login_form.username}}	
	    <label for="password">Senha:</label>
		{{login_form.password}}
	    <input class="botao" type="submit" value="Entrar" />
	    <br>	
	</form>
	<br><br>
	
	<strong>Ainda não é usuário do sistema? Então se cadastre aqui!</strong>
	<form action="/cadastro_cliente/" method="POST">
	    <p>Usuario: {{user_form.username}}
	    <br>Senha: {{user_form.password1}}
	    <br>Confirmação de senha: {{user_form.password2}}
	    <br>Nome: {{cliente_form.nome}}
	    <br>Email: {{cliente_form.email}}
	    <br>CPF: {{cliente_form.cpf}}</p>        
	    <input class="botao" type="submit" value="Cadastrar" />
	</form>
    
    {% endif%}
{% endblock content %}