{% extends "base.html" %}

{% block title %}
Minha Conta
{% endblock title %}

{% block extrahead %}

{% endblock extrahead %}

{% block content %}
    
    {% if usuario_logado%}
        <h2>Minha Conta</h2>
        <p>Ola {{cliente.nome}}</p>
	<a href="/logout/">Logout</a>
    
    {% else %}
	
	{% if erro %}
	    <p>Preencha o formulário corretamente.</p>
	{% endif %}
	{% if cadastrou %}
	    <p>Seu cadastro foi efetuado com sucesso.</p>
	{% endif %}
	
	<h3>Já é usuário do sistema? Então entre aqui!</h3>
	<div class="space-1x"></div>
	<form action="/login/" method="POST">
	    <table class="simple_table">
	    {% for field in login_form %}
		    <tr>
			<th>
			    {{ field.label_tag }} :
			</th>
			<td>
			    {{ field }}
			</td>
		    </tr>
		    {% if field.errors %}
		    <tr>
			<th>{{ field.errors }}</th>
		    </tr>
		{% endif %}
	    {% endfor %}
		<tr>
		    <td><input class="botao" type="submit" value="Entrar" /></td>
		</tr>
	    </table>	
	</form>
	<div class="space-3x"></div>
	<h3>Ainda não é usuário do sistema? Então se cadastre aqui!</h3>
	<div class="space-1x"></div>
	<form action="/cadastro_cliente/" method="POST">
	    <table class="simple_table">
	    {% for field in user_form %}
		    <tr>
			<th>
			    {{ field.label_tag }} :
			</th>
			<td>
			    {{ field }}
			</td>
		    </tr>
		    {% if field.errors %}
		    <tr>
			<th>{{ field.errors }}</th>
		    </tr>
		    {% endif %}
	    {% endfor %}
	    {% for field in cliente_form %}
		    <tr>
			<th>
			    {{ field.label_tag }} :
			</th>
			<td>
			    {{ field }}
			</td>
		    </tr>
		    {% if field.errors %}
		    <tr>
			<th>{{ field.errors }}</th>
		    </tr>
		{% endif %}
		
	    {% endfor %}
	    
		<tr>
		    <td><input class="botao" type="submit" value="Entrar" /></td>
		</tr>
	    </table>
	</form>
    
    {% endif%}
{% endblock content %}