<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="robots" content="index, follow" />
  <meta name="keywords" content="" />
  <meta name="title" content="" />
  <meta name="description" content="" />
<title>rgbstore - product description</title>

<!-- ////////////////////////////////// -->
<!-- //      Start Stylesheets       // -->
<!-- ////////////////////////////////// -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<link href="css/inner.css" rel="stylesheet" type="text/css" />
<!--[if IE 6]>
    <script type="text/javascript" src="js/unitpngfix.js"></script>
	<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->

<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/slider.js"></script>
<script type="text/javascript" src="js/jquery.scrollable.js"></script>
<script type="text/javascript" src="js/jquery.mousewheel.js"></script>
<script type="text/javascript" >
	$(function() {
		$("#scrollable").scrollable({horizontal:true,size: 4});
	});
</script>
</head>
<body>
<div id="container">
	<div id="centercolumn">
	
	<!-- BEGIN HEADER -->
		<div id="header">
			<div id="topmenu">
				<div id="menu">
					<ul>
						<li id="home"><a href="index.html">Home</a></li>
						<li><a href="product_description.html">Products</a></li>
						<li><a href="#">My Account</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="shopping_cart.html">Checkout</a></li>
					</ul>
				</div><!-- end menu -->
				<div id="cart">
				<a href="shopping_cart.html"><img src="images/cart.png" alt="" class="imgleft" /></a>Now in your cart <strong>0 Item</strong>
				</div><!-- end cart -->
			</div><!-- end topmenu -->
			<div id="top">
				<div id="logo">
				  <a href="index.html"><img src="images/logo.png" alt="" /></a>
				</div><!-- end logo -->
				<div id="topsearch">
				<form action="#" method="post">
				<fieldset>
				<span class="bg_input"><input type="text" class="inputbox" value="search something?"  onblur="if(this.value=='') this.value='search something?';" onfocus="if(this.value=='search something?') this.value='';" /></span><input type="image" src="images/but_search.gif" class="but" />
				</fieldset>
				</form>
				</div><!-- end topsearch -->
			</div><!-- end top -->
		</div>
	<!-- END OF HEADER -->
	
	<div class="clr"></div><!-- clear float -->
	
	<!-- BEGIN CONTENT -->
		<div id="content">
			<div id="c_top">
				<div id="c_bottom">
				<!-- begin slider -->
					<div id="slide">
						<div id="scrollable"> 
							<a class="prev"></a>
							<a class="next"></a>   
							<div class="items"> 
								<div class="slide-items">
									<h4>Camcorder #023</h4>
									<img src="images/slide1.jpg" alt="" />
								</div>
								<div class="slide-items">
									<h4>Printer #013</h4>
									<img src="images/slide2.jpg" alt="" />
								</div>
								<div class="slide-items">
									<h4>Monitor #018</h4>
									<img src="images/slide3.jpg" alt="" />
								</div>
								<div class="slide-items noborder">
									<h4>Digital Camera #09</h4>
									<img src="images/slide4.jpg" alt="" />
								</div>
								<div style="clear: both;"></div>
							</div> 
						</div><!--end scrollable-->
					</div>
				<!-- end slider -->
				
				<br style="clear:both;" />
					
					<div id="maincontent">
						<div id="main">
							<div id="mainleft">
								<div class="c_inner">
									<div class="c_inner_t">
										<div class="c_inner_b">
								<div class="pad_content_inner">
								
									<div id="breadcrumb"><a href="#">Home</a>  &gt;  <a href="#">Popular Models</a>  &gt;  <a href="#">Product #023</a></div><!-- end breadcrumb -->
									<br />
									<div id="description">
										<div id="product_image">
										<img src="images/img_description01.jpg" alt="" />
										<div class="thumb">
										<a href="#"><img src="images/img_thumb.gif" alt="" class="imgleft" /></a>
										<a href="#"><img src="images/img_thumb.gif" alt="" class="imgleft" /></a>
										<a href="#"><img src="images/img_thumb.gif" alt="" class="imgleft" /></a>
										<div class="clr"></div>
										</div>
										
										<p>Click the button bellow to Add Product #023 to your cart list or review this product.</p>
										<p><input type="image" src="images/but_review.gif" class="imgleft" />
										  <a href="shopping_cart.html"><img src="images/but_addcart.gif" alt="" class="imgleft" /></a></p>
										</div><!-- end product_image -->
										<div id="product_description">
											<div class="title_description"><h2>Product #023</h2></div>
											
											<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. </p>
											<p>- Nisi ut aliquid ex ea commodi consequatur<br />
- Quis autem vel eum iure reprehenderit qui in ea voluptate<br />
- Neque porro quisquam est, qui dolorem ipsum<br />
- inventore veritatis et quasi architecto beatae vitae</p>
<p>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p><hr /><br />
<h4>PRODUCT SPECIFICATIONS</h4>
										<div class="row">
											<ul>
												<li class="col1">Price</li>
												<li class="col2">$230.00</li>
											</ul>
										</div>
										<br style="clear:both;"  />
										<div class="row">
											<ul>
												<li class="col1">RRP</li>
												<li class="col2">RRP</li>
											</ul>
										</div>
										<br style="clear:both;"  />
										<div class="row">
											<ul>
												<li class="col1">Brand</li>
												<li class="col2">Sony</li>
											</ul>
										</div>
										<br style="clear:both;"  />
										<div class="row">
											<ul>
												<li class="col1">Wheight</li>
												<li class="col2">1.50 LBS</li>
											</ul>
										</div>
										<br style="clear:both;"  />
										<div class="row">
											<ul>
												<li class="col1">Rating</li>
												<li class="col2">(4)</li>
											</ul>
										</div>
										<br style="clear:both;"  />
										<div class="row">
											<ul>
												<li class="col1">Availibility</li>
												<li class="col2"></li>
											</ul>
										</div>
										<br style="clear:both;"  />
										<div class="row">
											<ul>
												<li class="col1">Shipping</li>
												<li class="col2">Calculated at checkout</li>
											</ul>
										</div>
										
										</div><!-- end product_description -->
										
										</div><!-- end description -->
										<div class="clr"></div><!-- clear float -->
										
										</div><!-- end pad_content_inner -->
										</div>
									</div>
								</div>
							</div><!-- end mainleft -->
							
							<div id="side">
								<div class="sidebox">
									<div class="sidebox_t">
									<div class="sidebox_b">
										<h2>Categories</h2>
										<div class="padbox_side">
											<ul>
												<li><a href="category.html">USB</a></li>
												<li><a href="category.html">Keyboard</a></li>
												<li><a href="category.html">Memory</a></li>
												<li><a href="category.html">Mice</a></li>
												<li><a href="category.html">Laptops</a></li>
												<li><a href="category.html">Video Cards</a></li>
												<li><a href="category.html">Major Brands</a></li>
												<li><a href="category.html">Networking</a></li>
												<li><a href="category.html">Popular Models</a></li>
												<li><a href="category.html">Desktops</a></li>
												<li><a href="category.html">VGA</a></li>
												<li><a href="category.html">Monitor</a></li>
												<li><a href="category.html">Mouse</a></li>
												<li><a href="category.html">Speaker</a></li>
												<li><a href="category.html">Mainboard</a></li>
												<li><a href="category.html">CDRom</a></li>
												<li><a href="category.html">Hardisk</a></li>
											</ul>
										</div>
									</div>
									</div>
								</div><!-- end sidebox -->
							</div><!-- end side -->
							
							<div class="clr"></div><!-- clear float -->
						</div><!-- end main -->
					
					</div><!-- end maincontent -->
				</div><!-- end c_bottom -->
			</div><!-- end c_top -->
		</div>
	<!-- END OF CONTENT -->
	
	
	<!-- BEGIN FOOTER -->
		<div id="footer">
			<div id="footleft">Copyright &copy;2009 rgbstore. All Rights Reserved&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">Privacy Policy</a></div>
			<div id="footlright"><img src="images/credit_card.gif" alt="" /></div>
		</div>
	<!-- END OF FOOTER -->
		
	</div><!-- end of centercolumn -->
</div><!-- end of container -->


</body>
</html>
