{% extends "base.html" %}

{% block title %}
Produtos por Marca - {{marca.marca}}
{% endblock title %}

{% block extrahead %}
{% endblock extrahead %}

{% block content %}
    <div class="c_inner">
            <div class="c_inner_t">
                    <div class="c_inner_b">
    <div class="pad_content_inner">
    
            <div id="breadcrumb"><a href="#">Home</a>  &gt;  <a href="#">Category</a></div><!-- end breadcrumb -->
            <br />
            <h3>Produtos por Marca - {{marca.marca}}</h3>
                <div class="headings">
			<ul>
				<li class="prodname">Produto</li>
				<li class="priceHead">Preço</li>
				<li class="remove">Detalhes</li>
			</ul>
		</div><!-- end headings -->
            
            {% for produto in lista_produtos%}
            <div class="catlist">
                    <ul>
                            <li class="prodname"><img src="/static/fotos/{{produto.foto1}}" alt="{{produto.foto1}}" class="imgleft" />{{produto.nome}}</li>
                            <li class="priceHead">R$ {{produto.valor_unitario_venda}}</li>
                            <li class="buy"><a href="/detalhes_produto/{{produto.id}}/"><input class="botao" type="button" value="Detalhes"/></a></li>
                            
                    </ul>
                    <div class="clr"></div>
            </div><!-- end catlist -->
            {% endfor %}
            
            <div class="pagenumber"><span class="display">Displaying <strong>1</strong> to <strong>4</strong> (of <strong>4</strong> products)</span><span class="result">Result Pages: <strong>1</strong></span></div>
    </div><!-- end pad_content_inner -->
                    </div>
            </div>
    </div>
{% endblock content %}
